/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-family: "Rubik", sans-serif;
  color: #4F5665;
  background-color: #F6F6F6;
}
body.dark {
  background-color: #0B132A;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark p,
body.dark a,
body.dark li {
  color: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 15px;
}

.autorization {
  display: flex;
  align-items: center;
  gap: 10px;
}
.autorization__link {
  font-size: clamp(12px, 1.4vw, 16px);
  color: #0B132A;
  font-weight: 700;
  outline-width: 1px;
  outline-style: solid;
  border-radius: 50px;
  padding: 5px 20px;
}
.autorization__link_sign-in {
  outline-color: #0B132A;
  transition: color 0.4s, outline-color 0.4s;
}
@media (hover: hover) {
  .autorization__link_sign-in:hover {
    color: #F53838;
    outline-color: #F53838;
  }
}
@media (min-width: 575px) {
  .autorization__link_sign-in {
    outline: none;
  }
}
.autorization__link_sign-in.dark {
  color: #ffffff;
  outline-color: #ffffff;
}
.autorization__link_sign-up {
  display: none;
  color: #F53838;
  transition: color 0.4s, background-color 0.4s;
}
@media (min-width: 575px) {
  .autorization__link_sign-up {
    display: inline-block;
  }
}
@media (hover: hover) {
  .autorization__link_sign-up:hover {
    background-color: #F53838;
    color: #ffffff;
  }
}

.header {
  padding: 25px 0;
  position: relative;
  z-index: 5px;
}
@media (min-width: 767px) {
  .header {
    padding: 35px 0;
  }
}
@media (min-width: 991px) {
  .header {
    padding: 50px 0;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-svg {
  fill: aqua;
}
.header__logo-svg:first-child {
  fill: #0B132A;
}
.header__logo-svg:first-child.dark {
  fill: #ffffff;
}
@media (min-width: 767px) {
  .header__logo {
    width: 148px;
  }
}
.header__nav {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 0.4s;
}
.header__nav.active {
  transform: translateX(0);
}
.header__nav.dark {
  background-color: #0B132A;
}
@media (min-width: 991px) {
  .header__nav {
    width: auto;
    position: static;
    transform: translateX(0);
    flex-direction: row;
    gap: 40px;
    background-color: inherit;
  }
}
.header__nav-link {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  border-bottom: 1px solid #F53838;
  color: #4F5665;
}
.header__nav-link.dark {
  color: #ffffff;
}
@media (min-width: 991px) {
  .header__nav-link {
    width: auto;
    padding: 0;
    border-bottom: none;
    position: relative;
    transition: width 0.4s;
  }
  .header__nav-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    translate: -50%;
    width: 0;
    height: 1px;
    background-color: #F53838;
    transition-duration: inherit;
  }
  .header__nav-link:hover::after {
    width: 100%;
  }
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__theme-svg {
  fill: #4F5665;
  transition: fill 0.4s;
}
.header__theme-svg.dark {
  fill: #F53838;
}
@media (hover: hover) {
  .header__theme-svg:hover {
    fill: #F53838;
  }
}
.header__burger span {
  display: block;
  transform: translateY(-50%);
  display: block;
  height: 3px;
  width: 30px;
  background: #F53838;
  transition: all 0.3s;
}
.header__burger span:not(:last-child) {
  margin-bottom: 6px;
}
.header__burger.active span:nth-child(1) {
  transform: rotate(-45deg) translateY(6px);
}
.header__burger.active span:nth-child(2) {
  display: none;
}
.header__burger.active span:nth-child(3) {
  transform: rotate(45deg) translateY(-6px);
}
@media (min-width: 991px) {
  .header__burger {
    display: none;
  }
}

.hero {
  padding: 25px 0;
}
@media (min-width: 767px) {
  .hero {
    padding: 35px 0;
  }
}
@media (min-width: 991px) {
  .hero {
    padding: 50px 0;
  }
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 767px) {
  .hero__wrapper {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}
@media (min-width: 767px) {
  .hero__content {
    max-width: 555px;
  }
}
.hero__title {
  font-size: clamp(30px, 5.9vw, 50px);
  font-weight: 700;
  color: #0B132A;
  margin-bottom: 10px;
}
.hero__title.dark {
  color: #ffffff;
}
@media (min-width: 991px) {
  .hero__title {
    margin-bottom: 20px;
  }
}
.hero__desc {
  max-width: 555px;
  font-size: clamp(12px, 1.4vw, 16px);
  margin-bottom: 25px;
}
.hero__desc.dark {
  color: #ffffff;
}
.hero__link {
  width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F53838;
  color: #ffffff;
  border-radius: 10px;
}
@media (min-width: 767px) {
  .hero__link {
    width: 250px;
    height: 60px;
  }
}
.hero__image {
  max-width: 611px;
  flex-grow: 1;
}
@media (min-width: 767px) {
  .hero__image {
    width: 100%;
    height: 100%;
  }
}

.stat {
  padding: 25px 0;
}
@media (min-width: 767px) {
  .stat {
    padding: 35px 0;
  }
}
@media (min-width: 991px) {
  .stat {
    padding: 50px 0;
  }
}
.stat__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  padding: 25px 0;
}
@media (min-width: 767px) {
  .stat__wrapper {
    padding: 35px 0;
  }
}
@media (min-width: 991px) {
  .stat__wrapper {
    padding: 50px 0;
  }
}
@media (min-width: 575px) {
  .stat__wrapper {
    gap: 20px;
  }
}
@media (min-width: 767px) {
  .stat__wrapper {
    flex-direction: row;
    border-radius: 10px;
  }
}
.stat__item {
  width: 145px;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 575px) {
  .stat__item {
    gap: 20px;
  }
}
@media (min-width: 767px) {
  .stat__item {
    width: 33.3%;
    justify-content: center;
  }
  .stat__item:not(:last-child) {
    border-right: 1px solid #EEEFF2;
  }
}
.stat__item-icon {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  background-color: #FFECEC;
  border-radius: 50%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}
.stat__item-icon_user {
  background-image: url("../../images/icons/user.svg");
}
.stat__item-icon_loc {
  background-image: url("../../images/icons/loc.svg");
}
.stat__item-icon_servers {
  background-image: url("../../images/icons/server.svg");
}
.stat__num {
  color: #0B132A;
  font-weight: 700;
  font-size: clamp(20px, 2.2vw, 25px);
}
.stat__name {
  font-size: clamp(16px, 1.8vw, 20px);
}

.features {
  padding: 25px 0;
}
@media (min-width: 767px) {
  .features {
    padding: 35px 0;
  }
}
@media (min-width: 991px) {
  .features {
    padding: 50px 0;
  }
}
.features__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 767px) {
  .features__wrapper {
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }
}
@media (min-width: 767px) {
  .features__info {
    max-width: 428px;
  }
}
.features__title {
  font-size: clamp(20px, 3vw, 35px);
  font-weight: 500;
  color: #0B132A;
  margin-bottom: 10px;
}
@media (min-width: 991px) {
  .features__title {
    margin-bottom: 20px;
  }
}
.features__desc {
  font-size: clamp(12px, 1.4vw, 16px);
  margin-bottom: 20px;
}
.features__list-item {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.features__list-item::before {
  content: url("../../images/icons/check-circle.svg");
  margin-right: 10px;
}
.features__list-item:not(:last-child) {
  margin-bottom: 15px;
}

/*# sourceMappingURL=index.css.map */
