.price {
  @include section-padding;

  &__title {
    @include second-title;
    margin-bottom: 10px;

    @media (min-width: $breakpoint-md) {
      text-align: center;
    }

    @media (min-width: $breakpoint-lg) {
      margin-bottom: 20px;
    }
  }

  &__desc {
    @include clamp-16px;
    max-width: 555px;
    margin-bottom: 40px;

    @media (min-width: $breakpoint-md) {
      margin-inline: auto;
      text-align: center;
    }

    @media (min-width: $breakpoint-lg) {
      margin-bottom: 60px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      gap: 30px;
    }

    @media (min-width: $breakpoint-lg) {
      gap: 50px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 330px;
    padding: 50px 70px;
    outline: 1px solid $border-color;
    border-radius: 10px;
    transition: outline-color $animation-duration;

    @media (hover: hover) {
      &:hover {
        outline-width: 2px;
        outline-color: $accent-color;
      }
    }

    &-top {
      text-align: center;
      margin-bottom: 50px;
    }

    &-img {
      margin-bottom: 20px;

      @media (min-width: $breakpoint-md) {
        margin-bottom: 30px;
      }
    }

    &-title {
      font-size: clamp(14px, 1.6vw, 18px);
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;

      @media (min-width: $breakpoint-md) {
        margin-bottom: 30px;
      }
    }

    &-list-item {
      display: flex;
      align-items: center;
      font-size: 12px;

      @media (min-width: $breakpoint-sm) {
        font-size: 14px;
      }

      &::before {
        content: url('../../images/icons/check.svg');
        margin-right: 15px;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &-bottom {
      margin-inline: auto;
    }

    &-plan {
      text-align: center;
      font-size: clamp(20px, 2.2vw, 25px);
      font-weight: 700;
      margin-bottom: 20px;

      &.dark {
        color: $white-color;
      }
    }

    &-btn {
      color: $accent-color;
      border-radius: 50px;
      font-weight: 700;
      padding: 13px 63px;
      outline: 1px solid $accent-color;
      transition: color $animation-duration, background-color $animation-duration;

      @media (hover: hover) {
        &:hover {
          background-color: $accent-color;
          color: $white-color;
        }
      }

      &.dark {
        color: $white-color;
        outline-color: $white-color;
      }
    }
  }

}
