@import '../components/logo';

.header {}

.container {}

.header__wrapper {
  display: flex;
}

.logo {}

.logo__img {}

.header__nav {
  display: none;
}

.header__nav-link {}

.header__autorization {}

.header__autorization-link {}

.header__autorization-link_sign-in {}

.header__autorization-link_sign-up {}

.header__burger {
  padding: 5px;

    span {
      display: block;
      transform: translateY(-50%);
      display: block;
      height: 3px;
      width: 30px;
      background: $accent-color;
      transition: all .3s;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(-45deg) translateY(6px);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: rotate(45deg) translateY(-6px);
        }
      }
    }
}