.logo {
  &__img {
    width: 100px;

    @media (min-width: 576px) {
      width: 110px;
    }

    @media (min-width: 768px) {
      width: 120px;
    }

    @media (min-width: 992px) {
      width: 130px;
    }

    @media (min-width: 1140px) {
      width: 148px;
    }
  }
}