html {
  font-size: 16px;
}

body {
  font-family: $main-font;
  color: $text-color;
  background-color: $background-color-page;

  &.dark {
    background-color: $dark-color;

    h1,
    h2,
    h3,
    p,
    a,
    li {
      color: $white-color;
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 15px;
}