// fonts
$main-font: 'Rubik', sans-serif;

// colors
$background-color-page: #F6F6F6;
$background-color-icon: #FFECEC;
$text-color: #4F5665;
$accent-color: #F53838;
$line-color: #EEEFF2;
$border-color: #DDDDDD;
$dark-color: #0B132A;
$white-color: #ffffff;
$grey-color: #AFB5C0;

// breakpoints
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;

// time
$animation-duration: 0.4s;